<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <!--Chartjs CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <style>
		body{
    background: rgb(230, 227, 227);
}

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}



.floating-chat-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0,123,255,0.4);
    z-index: 1000;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.floating-chat-btn:hover {
    transform: scale(1.1);
    color: white;
    text-decoration: none;
}
	</style>

    <title>Citizen Dashboard</title>
</head>

<body>
    

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-info bg-dark">
        <div class="container">
            <a class="navbar-brand text-white" href=""><i class='bx bxs-group'></i>Safeti</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href=""><i class='bx bxs-dashboard' ></i>Dashboard <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <!-- ADD THIS LINE -->
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'chat' %}"><i class='bx bx-chat'></i>Live Chat</a>
        </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="{% url 'profile' %}"><i class='bx bxs-user'></i>Profile <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'logout' %}"><i class='bx bxs-log-out-circle' ></i>Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!--End Navbar-->


    <!--Table-->
    
<div class="row my-4">
    <div class="col-md-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="card card-body">
            <h5>Report Crime</h5>
            <hr>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary btn-block" type="submit" value="Report Crime">
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <table class="table bg-white table-striped table-hover table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <th scope="row">Crime</th>
                    <th scope="row">Created_At</th>
                    <th scope="row">Status</th>
                    <th scope="row">Activity</th>
                </tr>
            </thead>
            <tbody>
                {% if citizen_reports %}
                    {% for report in citizen_reports %}
                        <tr>
                            <td> {{ report.crime }} </td>
                            <td>{{ report.created_at }}</td>
                            <td>{{ report.status }}</td>
                            <td>
                                <a class="btn btn-info btn-sm mr-2" href="{% url 'update' report.id %}">Update</a> 
                                <a class="btn btn-danger btn-sm mr-2" href="{% url 'report' report.id %}">Delete</a> 
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">No reports available.</td>
                    </tr>
                {% endif %}
            </tbody>
            
        </table>
    </div>
</div>

    <!--End Table-->


    <!-- Add floating chat button to citizen.html (add this before closing </body> tag) -->
<a href="{% url 'chat' %}" class="btn btn-primary floating-chat-btn" title="Live Chat with Agents">
    <i class='bx bx-chat bx-lg'></i>
</a>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    -->
</body>

</html>

 